<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>About WonderLust</h5>
        <p>Discover amazing destinations around the world with WonderLust. We offer the best travel packages at
          competitive prices.</p>
      </div>
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Hot Deals</a></li>
          <li><a href="#">Destinations</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contact</h5>
        <address>
          123 Travel Lane<br>
          Adventure City, AC 12345<br>
          Phone: (123) 456-7890<br>
          Email: eta.info@wonderlust.com
        </address>
      </div>
    </div>
    <div class="text-center mt-4">
      <p>&copy; {{currentYear}} WanderLust. All rights reserved.</p>
    </div>
  </div>
</footer>